body {
  background-image: url(/assets/img/header-bg.jpg);
  font-family: "Roboto", sans-serif;
  background-size: cover;
}

/* Hero */

.title {
  color: whitesmoke;
}

/* Get Weather */
#submit {
  width: 100%;
  margin-bottom: 15px;
}

/* Previous Searches */

.table-box {
  background-color: #4B94CB;
  border: black solid 2px;
}

.button.is-danger {
    background-color: red;
}

/* Forecast */

#forecast-section {
  padding-top: 15px;
}

.city-data {
  min-height: 320px;
}

#submit {
  background-color: green;
}

/* change font in td element of #city-list table */
td {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#weather {
/* background of clouds.jpg in assets/img folder with a transparency */
  background: url(assets/img/clouds.jpg) no-repeat center center fixed;
  /* background-size: cover; */
  color: white;
  padding: 20px;
}


tr {
  margin: 5px;
}

/* change mouse pointer to grab when hover on td element */
td {
  cursor: pointer;
}

/* 5 Day section */

.card {
  background-color: #4B94CB;
  margin: 2px;
  min-height: 320px;
  border-radius: 10px;

}

footer {
  /* background-image: url(/assets/img/header-bg.jpg); */
  color: white;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  color: black;
}

footer a {
  color: red;
}

footer a:hover {
  color: green;
}

footer p {
  font-size: 20px;
  font-weight: bold;
}

/* Media Queries */

@media only screen and (max-width: 720px) {
  .column {
    margin: 2px;
    padding: 0 20px 0 20px;
  }

  /* background image full width of screen */
  body {
    background-size: cover;
  }

  .card-content {
    padding: 20px;
  }
}
